@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-decoration: none;
}

body {
    background: #1a1a1a;
    
}

.section__padding {
    padding: 4rem 9.5rem;
}

.container {
    border: solid white;
}
